numpy==1.26.4
torch==2.1.0
pyyaml
pydantic
scikit-learn==1.6.1
matplotlib==3.9.4
gdown==5.2.0

--extra-index-url https://pypi.nvidia.com

cudf-cu12==25.4.*
dask-cudf-cu12==25.4.*
cuml-cu12==25.4.*
cugraph-cu12==25.4.*
nx-cugraph-cu12==25.4.*
cuspatial-cu12==25.4.*
cuproj-cu12==25.4.*
cuxfilter-cu12==25.4.*
cucim-cu12==25.4.*
pylibraft-cu12==25.4.*
raft-dask-cu12==25.4.*
cuvs-cu12==25.4.*